<footer>

<div class="container">
  <div class="row">

    <div class="col-md-5">
      <ul class="text-left">
        <li>&copy; {{ site.time | date: '%Y' }} <span>OECD</span></li>
        <li><a href="http://www.oecd.org/contact/">Contact</a></li>
      </ul>
    </div>

    <div class="col-md-2">
      <a href="http://www.oecd.org/trade/valueadded"><img src="{{ site.baseurl }}/images/OECD_grey.png", width = 80></a>
    </div>

    <div class="col-md-5">
      <ul class="text-right">
        <li><a href="http://www.oecd.org/sti/inno/sti-statistics.htm">STI Statistics</a></li>
      </ul>
    </div>

  </div>
</div>

</footer>
