<!-- Shared footer for all OECD sites --><!-- /oecd-footer default-->
<footer class="oecd-footer">
<!-- <footer> -->
  <div class="oecd-institutional-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-6 oecd-institutional-footer__name"><a href="https://www.oecd.org/">OECD.org</a></div> --
        <div class="col-xs-3 col-sm-2"><a href="https://www.oecd.org/login/" title="MyOECD">MyOECD</a></div>
        <div class="col-xs-3 col-sm-2"><a href="https://www.oecd.org/sitemap/">Site Map</a></div>
        <div class="col-xs-3 col-sm-2"><a href="https://www.oecd.org/contact/">Contact Us</a></div>
      </div>
    </div>
  </div>

  <div class="oecd-shared-footer oecd-shared-footer--light">

    <div class="container">

      <div class="row">

	<div class="col-xs-7 col-sm-5 oecd-shared-footer__logo-and-copyright">
          <div class="oecd-shared-footer__logo"></div>
          <div class="oecd-shared-footer__copyright">
            <span class="oecd-shared-footer__copyright-first">
              © 2015
              Organisation for Economic
            </span>
            <span class="oecd-shared-footer__copyright-second">
              Co-operation and Development
            </span>
          </div>
	</div>

	<div class="col-xs-5 col-sm-3 oecd-shared-footer__terms">
          <ul class="oecd-shared-footer__links">
            <!-- <li class="oecd-shared-footer__link-item"><a href="/termsandconditions/">Terms and Conditions</a></li> -->
            <li class="oecd-shared-footer__link-item"><a href="http://www.oecd.org/termsandconditions/">Terms and Conditions</a></li>
	    <!-- <li class="oecd-shared-footer__link-item"><a href="/privacy/">Privacy Policy</a></li> -->
	    <li class="oecd-shared-footer__link-item"><a href="http://www.oecd.org/privacy/">Privacy Policy</a></li>
          </ul>
	</div>

	<div class="col-xs-12 col-sm-4 oecd-shared-footer__social-media">
          <p><a href="http://www.oecd.org/social-media/">Follow us (Social Media):</a></p>
          <ul class="oecd-shared-footer__icons">
            <li class="oecd-shared-footer__icon">
              <a href="http://www.facebook.com/theOECD" class="oecd-shared-footer__icon-link oecd-shared-footer__facebook">Facebook</a>
            </li>
            <li class="oecd-shared-footer__icon">
              <a href="http://twitter.com/oecd" class="oecd-shared-footer__icon-link oecd-shared-footer__twitter">Twitter</a>
            </li>
            <li class="oecd-shared-footer__icon">
              <a href="http://www.youtube.com/oecd" class="oecd-shared-footer__icon-link oecd-shared-footer__youtube">YouTube</a>
            </li>
            <li class="oecd-shared-footer__icon">
              <a href="https://www.linkedin.com/company/organisation-eco-cooperation-development-organisation-cooperation-developpement-eco" class="oecd-shared-footer__icon-link oecd-shared-footer__linkedin">LinkedIn</a>
            </li>
            <li class="oecd-shared-footer__icon">
              <a href="https://www.flickr.com/photos/oecd" class="oecd-shared-footer__icon-link oecd-shared-footer__flickr">Flickr</a>
            </li>
            <li class="oecd-shared-footer__icon">
              <a href="/rssfeeds/" class="oecd-shared-footer__icon-link oecd-shared-footer__rss">RSS</a>
            </li>
            <li class="oecd-shared-footer__icon">
              <a href='http://www.oecd.org/about/publishing/oecddirect.htm' class="oecd-shared-footer__icon-link oecd-shared-footer__oecddirect">Oecd Direct</a>
            </li>
          </ul>
	</div>

      </div>
    </div>
  </div>

</footer>
